<div class="md-card uk-margin-small-top uk-flex-center uk-margin-small-bottom" style="border-radius: 6px">
    <div class="md-card-content">
        <div class="uk-grid uk-flex-center uk-flex-space-between">
            <div>
                <div class="uk-margin-small-bottom" style="font-weight: bold; font-size:medium; font-weight: 500">
                    EXPEDIENTE
                </div>
                <div id="descripcionExpediente" class="uk-margin-small-bottom uk-grid-width-medium-1-7" style="font-weight: 800; font-size:large">
                    @ViewBag.Expediente.ExpedienteCompleto / R @ViewBag.recupero.IdentificacionRecupero
                </div>
            </div>
            <div>
                <div class="uk-margin-small-bottom" style="font-weight: bold">
                    ORIGEN
                </div>
                <div id="entidadOrigen" class="uk-grid-width-medium-1-7" style="font-size:medium">
                    <label>@ViewBag.recupero.Expediente.EntidadOrigen.RazonSocial</label>
                </div>
            </div>

            <div>
                <div class="uk-margin-small-bottom" style="font-weight: bold">
                    ACREEDOR
                </div>
                <div id="entidadAcreedor" class="uk-grid-width-medium-1-7" style="font-size:medium">
                    <label>@ViewBag.recupero.Expediente.EntidadAcreedor.RazonSocial</label>
                </div>
            </div>

            <div>
                <div class="uk-margin-small-bottom" style="font-weight: bold">
                    TIPO DE CRÉDITO
                </div>
                <div id="tipoCredito" class="uk-grid-width-medium-1-7" style="font-size:medium">
                    <label>@ViewBag.recupero.Expediente.EntidadTipoCredito.TipoCredito.Desc</label>
                </div>
            </div>
            <div>
                <div class="uk-margin-small-bottom" style="font-weight: bold">
                    INGRESO
                </div>
                <div id="fechaIngreso" class="uk-grid-width-medium-1-7" style="font-size:medium">
                    @*@ViewBag.recupero.FechaIngreso.ToString().Substring(0, 9)*@
                    @{
                        if (@ViewBag.recupero.FechaIngreso.ToString().Length < 18)
                        {
                            @ViewBag.recupero.FechaIngreso.ToString().Substring(0, 8);

                        }
                        else
                        {
                            @ViewBag.recupero.FechaIngreso.ToString().Substring(0, 10);
                        }
                    }
                </div>
            </div>
            <div>
                <div class="uk-margin-small-bottom" style="font-weight: bold">
                    PRESCRIPCIÓN
                </div>
                <div id="Prescripcion" class="uk-grid-width-medium-1-7" style="font-size:medium">
                    @{
                        if (@ViewBag.recupero.FechaPrescripcion != null)
                        {
                            if (@ViewBag.recupero.FechaPrescripcion.ToString().Length < 18)
                            {
                                @ViewBag.recupero.FechaPrescripcion.ToString().Substring(0, 8);

                            }
                            else
                            {
                                @ViewBag.recupero.FechaPrescripcion.ToString().Substring(0, 10);
                            }
                        }
                        else
                        {
                            <div> -</div>
                        }

                    }
                </div>
            </div>

            <div>
                <div class="uk-margin-small-bottom" style="font-weight: bold">
                    MONTO
                </div>
                <div id="montoRecupero" class="uk-grid-width-medium-1-7" style="font-size:medium">
                    @ViewBag.recupero.Monto.ToString("C")
                </div>
            </div>
        </div>
    </div>
</div>
